body {
  font-family: "Quicksand", sans-serif;
  margin: 30px auto;
  color: #292644;
  background: rgb(239, 237, 240);
  max-width: 700px;
}

h1 {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 50px;
  font-weight: 800;
  margin: 10px 0 0 0;
}

h3 {
  margin-top: 15px;
  line-height: 40px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

small {
  padding-left: 10px;
}

.weather-app {
  margin: 0 auto;
  padding: 10px 20px;
  border: 2px solid #292644;
  border-radius: 15px;
  background: rgb(250, 144, 122);
  background-image: url("../images/sunrise-resize.jpg");
}

.search-form {
  font-size: 20px;
  margin-bottom: 5px;
  padding: 5px 0 5px 10px;
  border: 2px solid #292644;
  border-radius: 15px;
  line-height: 30px;
  background: rgba(239, 237, 240, 0.3);
  color: #292644;
}

.font-icon {
  position: relative;
  top: 5px;
  font-size: 32px;
  margin: 5px 5px 0 5px;
  color: #292644;
  background: transparent;
  border: none;
  border-radius: 15px;
}

.location-icon {
  padding: 0 3px;
}

.last-updated {
  font-weight: 500;
  margin: 0 0 40px 5px;
}

.day-date-time {
  letter-spacing: 1.5px;
  margin-left: 5px;
}

.current-temperature {
  position: relative;
  bottom: 5px;
  font-size: 70px;
  font-weight: 500;
  margin-left: 10px;
}

.change-units {
  font-size: 20px;
  position: relative;
  bottom: 42px;
}

.temperature-description {
  margin: 15px 0 0 40px;
}

.forecast-header {
  margin: 30px 0 15px;
}

.forecast {
  margin: 10px 0 15px 0;
  font-size: 20px;
  min-width: 100px;
  max-width: 100px;
  font-weight: 600;
  text-align: center;
  background: rgba(255, 184, 153, 0.3);
  border: 2px solid transparent;
  border-radius: 15px;
}

.day {
  font-size: 20px;
}

.forecast-icon {
  font-size: 50px;
  padding: 15px 0;
}

.celcius,
.fahrenheit {
  color: rgba(41, 38, 68, 0.6);
  text-decoration: none;
}

.celcius:hover {
  text-decoration: underline;
  color: #516b91;
}

.fahrenheit:hover {
  text-decoration: underline;
  color: #516b91;
}

.change-units,
.active {
  color: #292644;
  cursor: default;
  text-decoration: none;
  font-weight: 500;
}

.change-units,
.active:hover {
  text-decoration: none;
}

li:first-letter {
  text-transform: capitalize;
}

.github-link {
  color: rgba(41, 38, 68, 0.5);
  font-weight: 500;
}

.font-icon:hover {
  background: rgba(239, 237, 240, 0.3);
  transition: all 200ms ease-in-out;
  border-radius: 15px;
  box-shadow: rgba(41, 38, 68, 0.5) 3px 5px 5px 2px;
}

.github-link:hover {
  color: #fa907a;
  transition: all 200ms ease-in-out;
}
